---
layout: home
---

{% for post in paginator.posts %}
  <div class="home-post">
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="author">
      <span class="date">{{ post.date }}</span>
    </p>
    <div class="content">
      {{ post.content }}
    </div>
  </div>
{% endfor %}

{% if paginator.previous_page %}
  <a class="pagination-link" href="{{ paginator.previous_page_path }}">Newer posts</a>
{% endif %}
{% if paginator.next_page %}
  <a class="pagination-link" href="{{ paginator.next_page_path }}">Older posts</a>
{% endif %}


</div>
